/* 
    Document   : style
    Created on : 24-Feb-2010, 08:08:49
    Author     : tian
    Description: Estilo de Blag.fm

#FFFFE1 Fondo Claro
#324031 Texto Oscuro
#2A3F42 Titulos semiOscuros
#B7C22C Acentos Verdaceos
#22A8B5 Acentos Azules
#B53D22 Acentos Corinto

*/
/* ================ Estilos Basicos de Texto ================*/
body {
    background-color:#FFFFE1;
}
body, p, h1, h2, h3, h4, li, a {
    font-family: "Gill Sans MT Pro Medium", "Gill Sans MT Pro" ,"Helvetica Neue",Helvetica,sans-serif;
    color: #324031;
}
a{
    text-decoration:underline;
}
h1.greet {
    font-size:4em;
    font-family: "Gill Sans MT Pro Medium","Helvetica Neue",Helvetica,sans-serif;
}
fieldset{}
.rojo, .formOpcional { color:#22A8B5;}
#main, .explica, .explica li {
   font-family:"Museo","Helvetica Neue",sans-serif;
}
#footer{
    font-size:medium;
    padding:2em 0;
}
.notice img, .error img, .success img{
    float:right;
}
.creaCuenta{
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    text-align:center;
    float:left;
    width:auto;
    font-size:2em;
    padding:2em;
    background-color:#22A8B5;
    border: #324031 3px solid;
}
.creaCuenta a:link, .creaCuenta a:visited, .creaCuenta a:active{
    font-family: "Museo","Helvetica Neue",sans-serif;
    color:#FFF;
    text-decoration:underline;
}
.explica {
    font-size:1.5em;
}
#footer{
    
    margin:0;
    text-align:right;
}
.nav{
    text-align:right;
    width:500px;
    margin-right:1px;
    margin-left:auto;
}
ul.nav li{
    list-style-type:none;
    padding:0 0.5em;
    float:left;
}
.noList{ /* listado de Artistas*/
    list-style-type:none;
    border:#2A3F42 2px solid;
    background-color:#22A8B5;
        -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
.artDisplay{
    display:block;
    border-bottom:#2A3F42 2px solid;
    padding-top:1.5em;
    padding-bottom:1.5em;
    
}
.artDisplay:last-child{
    border-bottom:none;
}
/* .artDisplay{
    border-bottom:none;
} */
.artDisplay img{
    padding-right:1em;
    /*float:left;
    clear:both;*/
    width:200px;
}
.artDisplay .articon {
    font-size:medium;
    padding-right:1.5em;
    float:right;
    text-align:right;
}
.artDisplay .articon h2{
    font-size:x-large;
}
.artDisplay .articon h3{
    font-size:large;
}
.lisCan {
}
.canDisplay{
    display:block;
}
.canDisplay img{
    clear:none;
    float:right;
}
/* ============ Seccion de Estructura de la pagina ================ */
#main {
    /*
    background-color:#fff6d9;
    border: #e8d9ac 1px solid; */
    margin-top:4em;
}
#sidebar {
    margin-top:4em;
    font-size:larger;
}
input.text{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
/* input[type=text]{
    -webkit-border-radius: 10px;
}
*/
.userManager{
    -moz-border-radius-left-bottom: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    text-align:center;
    background-color:#324031;
    color:#b7c22c;
    height:1.4em;
    padding:0 1em;
    position:absolute;
    top:0;
    right:100px;
    display:block;
    font-weight: bold;
}